.titulo {
    text-shadow: 2px 3px 30px rgb(72, 82, 73);
    font-size: 32px;
    text-align: center;
}

body{ 
    background :rgb(100, 141, 189);
}

a {
    text-decoration: none;
}

#navegacion {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    text-shadow: 1px 20px 40px rgb(255, 255, 255);
}

.noticiaslocales{
    font-size: 15px;
    font-family: cursive, helvetica, sans-serif;
}
span{
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 1000;
}
#libro {
    border-style: solid;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width:5px;
    width: 15%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
    padding: 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #557aaa;
    color: white;
    text-align: center;
    padding: 10px;
}
img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96b1d4;
  }